[defaults]
inventory = ./out/inventory.yml
host_key_checking = False
local_tmp = ./.ansible/tmp
remote_tmp = /tmp/ansible
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 60
become_timeout = 90
forks = 10
display_skipped_hosts = False

[ssh_connection]
pipelining = True
retries = 3
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GlobalKnownHostsFile=/dev/null
transfer_method = piped
