global
  log /dev/log local0
  log /dev/log local1 notice
  daemon

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 10s
  timeout client 1m
  timeout server 1m

frontend kubernetes_api
  bind *:6443
  default_backend kubernetes_api

backend kubernetes_api
  option tcp-check
{% for host in groups['kube_control_plane'] %}
  server {{ host }} {{ hostvars[host].node_ip }}:6443 check
{% endfor %}
