apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
  labels:
    app.kubernetes.io/name: kube-vip
    app.kubernetes.io/component: control-plane-vip
spec:
  hostNetwork: true
  hostAliases:
    - ip: 127.0.0.1
      hostnames:
        - kubernetes
  containers:
    - name: kube-vip
      image: ghcr.io/kube-vip/kube-vip:{{ kube_vip_version }}
      imagePullPolicy: Always
      args:
        - manager
      env:
        - name: address
          value: "{{ kube_vip_ip }}"
        - name: vip_arp
          value: "true"
        - name: port
          value: "6443"
        - name: vip_interface
          value: "{{ kube_vip_interface_name }}"
        - name: vip_subnet
          value: "32"
        - name: cp_enable
          value: "true"
        - name: cp_namespace
          value: "kube-system"
        - name: vip_ddns
          value: "false"
        - name: svc_enable
          value: "false"
        - name: vip_leaderelection
          value: "true"
        - name: vip_leaseduration
          value: "5"
        - name: vip_renewdeadline
          value: "3"
        - name: vip_retryperiod
          value: "1"
      securityContext:
        capabilities:
          add:
            - NET_ADMIN
            - NET_RAW
            - SYS_TIME
      volumeMounts:
        - mountPath: /etc/kubernetes/admin.conf
          name: kubeconfig
          readOnly: true
  volumes:
    - name: kubeconfig
      hostPath:
        path: {{ kube_vip_kubeconfig_host_path }}
        type: FileOrCreate
