apiVersion: v1
kind: Secret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
stringData:
  config.yaml: |
    clusters:
      - url: "{{ proxmox_api_url }}"
        insecure: {{ proxmox_insecure | bool | lower }}
        username: "{{ proxmox_username }}"
        password: "{{ lookup('env', 'PROXMOX_PASSWORD') }}"
        region: "{{ proxmox_region }}"
